
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align: justify;margin-top: 20px;margin-bottom: 150px;font-family: 'Noto Serif', serif;">
    <h2>cancumayamann@gmail.com</h2>
</div>


