
@{
    ViewData["Title"] = "Yazılım_Geliştirici_Yol_Haritası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align: justify;margin-top: 20px;margin-bottom: 30px;font-family: 'Noto Serif', serif;">
    Yazılım sürekli olarak kendisini yenileyen bir iş olduğundan dolayı sadece üniversitede almış olduğunuz eğitime takılmamalısınız.
    Yazılım geliştirmeye merak salmış ve yeni başlamışsanız o zaman nereden başlamanız gerektiğini bilmemeniz de normaldir. Bahsedeceğimiz yol haritası sizin bu uzun yolculuğunuzda yanınızda bulundurmanız ve dikkate almanız gereken konuları içeriyor. Tamamen tecrübelerimden yola çıkarak anlatmaya çalıştığım bu yol haritasında bilmeniz gerekenleri bir araya toparlamak istedim.
    <br /><br />
    <h3>Eğitime Takılmayın</h3>
    Yazılım sürekli olarak kendisini yenileyen bir iş olduğundan dolayı sadece üniversitede almış olduğunuz eğitime takılmamalısınız. Zaman içerisinde çok şey değişecek ve sizde bu değişimin bir parçası olmak zorundasınız. Değişmeyen tek şeyin değişim olduğu göz önünde bulundurulduğunda kendinizi ne kadar çok yenileyebilirseniz o kadar faydalı olur. Eskiye takılmış olan bir yazılımcı gelecekle baş edemez. Alacağınız farklı eğitimler sizin geçerli mazeretlerinizi ortadan kaldıracaktır.
    <br /><br />
    <h3>Kendinize İyi Bir Mentör Bulun</h3>
    Yazılım konusunda ne seviyede olursanız olun mutlaka kendinize bir yol gösterici yazılım geliştiriciyi örnek almanız gerekir. Kendinizden daha iyi birileriyle çalışıyor olmak sizin kendinizi geliştirmenizde faydalı olacaktır. Unutmamanız gereken sizin yeni yürüdüğünüz yollardan geçen çok sayıda yazılımcı var. İyi bir mentör iyi bir yol gösterici olacaktır.
    <br /><br />
    <h3>Bootcampler</h3>
    Bootcampler Türkiye’de daha yaygınlaşmış olan bir sektör olmamasına karşın Avrupa ve Amerika’da oldukça önemli eğitim programıdır.  Böyle bir eğitim 3–6 ay arasında sürer ve programlarınızı geliştirmenizde size fayda sağlar. Kendi portföyünüzü oluşturmak için iyi bir şans olacaktır.
    <br /><br />
    <h3>Hangi Alanda Uzmanlaşmak İstediğinize Karar Verin</h3>
    Yazılımcı denildiğinde genelde her şeyden anlayan insanlar akla geliyor olsa da önemli olan sizin kendinizi bir alanda geliştirmenizdir. Yazılım öyle derin ve yoğun bir alandır ki siz hepsini öğrenmek istediğinizde aslında hiçbirini öğrenmemiş olduğunuzu görürsünüz. Böyle bir duruma düşmemek için kendinizi her sektörde olduğu gibi bir alanda uzman hale getirmeniz gerekir.
    <br /><br />
    <h3> Ekosisteme Dahil Olun</h3>
    Yazılım sektöründe tek başınıza yürümek yerine diğer geliştiricilerle bir olmaya önem vermelisiniz. Yazılımcıların kendi yalnız dünyası içerisine hapsolmak istemiyorsanız bu durumda kafanıza göre diğer yazılımcılarla görüşebilir ve onlarla fikir alışverişi ve sosyalleşebilirsiniz. İlgilendiğiniz bir alanda başka insanlarla konuşmak size psikolojik açıdan iyi gelecektir.
</div>
