
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:400px;">
    <form method="post" action="/Home/ForgetPassword/">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email"  class="form-control" name="email" style="width:400px;height:35px;" placeholder="Enter email">

            <input type="submit" id="fpbtn" value="Kod Gönder" class="form-control btn btn-success" style="margin-bottom:5px;width:10%;margin-top:10px;" />
       
        </div>
       
      
    </form>
</div>
<script>
    $('input[type="submit"]').on('click', function () {
        alert("fsdfafsaf");
    });

</script>


