
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="padding-top: 12px; ">
    <div id="id01" class="modal" style="z-index: 500;">

        <form class="modal-content animate" action="/Login/SignInStudent/" method="post">
            @Html.AntiForgeryToken()
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/Login4.png" alt="Avatar" class="img-fluid" style="height: 300px;">
            </div>

            <div class="container">



                <input type="text" class="form-control" name="Email" placeholder="Email Adresiniz" id="mailclk" required aria-label="Username" aria-describedby="basic-addon1" style="font-size: medium;">
                <br>

                <input type="password" class="form-control" name="Parola" placeholder="Şifreniz" required aria-label="Username" aria-describedby="basic-addon1" style="font-size: medium;">
                <br>
                <button type="submit" class="btn btn-block btn-outline-success btn-lg" id="signclick">Login</button>
                <br>
                <label style="font-size: medium; margin-left: 0%;">
                    <input type="checkbox" checked="checked" name="remember"> <span>
                        Remember Me
                    </span>


                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-lg btn-danger">Cancel</button>
                <span class="psw">Forgot <a href="/Home/ForgetPassword/">password?</a></span>
            </div>
        </form>
    </div>
    <div id="id02" class="modal" style="z-index: 500;">

        <form class="modal-content animate" action="/Login/SignInMentor/" method="post">
            @Html.AntiForgeryToken()
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/Login4.png" alt="Avatar" class="img-fluid" style="height: 300px;">
            </div>

            <div class="container">

                <input type="text" class="form-control" name="Email" placeholder="Email Adresiniz" aria-label="Username" aria-describedby="basic-addon1" style="font-size: medium;">
                <br>
                <input type="password" class="form-control" name="Parola" placeholder="Şifreniz" aria-label="Username" aria-describedby="basic-addon1" style="font-size: medium;">
                <br>
                <button type="submit" class="btn btn-block btn-outline-success btn-lg">Login</button>
                <br>
                <label style="font-size: medium; margin-left: 0%;">
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="btn btn-lg btn-danger">Cancel</button>
                <span class="psw">Forgot <a href="/Home/ForgetPassword/">password?</a></span>
            </div>
        </form>
    </div>
</section>
<header>
    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="resimKapsayıcı">
                        <a href="/Articles/Yazılım_Geliştirici_Yol_Haritası"><img class="d-block w-100" src="~/images/yazilim.jpg" alt="First slide" style="opacity: 1;"></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="resimKapsayici">
                        <a href="/Articles/OOP" class="imglink"><img class="d-block w-100" src="~/images/oop.jpg" alt="First slide"></a>

                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="resimKapsayıcı">
                        <a href="/Articles/SOLID" class="imglink"><img class="d-block w-100" src="~/images/solid.png" alt="First slide"></a>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="row mt-3">
            <div class="col-md-8">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/design.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title ">Design Patterns</h5>
                        <p class="card-text" id="metin">
                            Hepimiz yaşantımızda bir konuda problemlerle karşılaşmış ve buna kendimizce çözümler üretmişizdir.
                        </p>
                        <a href="/Articles/Design_Pattern" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 2.7rem; text-align: center;">En Çok Okunanlar</h5>
                        <a href="#" class="col4-link"><li class="col4-item"><i class="fas fa-newspaper"></i> Yazılım Geliştirici Yol Haritası</li></a>
                        <a href="#" class="col4-link"><li class="col4-item"><i class="fas fa-newspaper"></i> Nesne Yönelimli Proglamlama Nedir?</li></a>
                        <a href="#" class="col4-link"><li class="col4-item"><i class="fas fa-newspaper"></i> SOLID Prensipleri Nedir?</li></a>

                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        <h5>Categories</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li class="col4-item"><a href="#" class="col4-item">Web Design</a></li>
                                    <li class="col4-item"><a href="#" class="col4-item">Angular</a></li>
                                    <li class="col4-item"><a href="#" class="col4-item">Html</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li class="col4-item"><a href="#" class="col4-item">Java Script</a></li>
                                    <li class="col4-item"><a href="#" class="col4-item">Html</a></li>
                                    <li class="col4-item"><a href="#" class="col4-item">Angular</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8">

                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/ef.png" alt="Card image cap">
                    <div class="cards-body col8-margin">
                        <h5 class="card-title ">Entity Framework</h5>
                        <p class="card-text" id="metin">
                            Entity Framework ORM(Object Relational Mapping) araçlarından biridir.
                        </p>
                        <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/react.jpg" alt="Card image cap">
                    <div class="cards-body col8-margin">
                        <h5 class="card-title ">React</h5>
                        <p class="card-text" id="metin">
                            Facebook tarafından üretilmiş, kullanıcı ara yüzleri oluşturmak için kullanılan bir javascript kütüphanesidir.
                        </p>
                        <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/identity.jpg" alt="Card image cap" style="height:350px;">
                    <div class="cards-body col8-margin">
                        <h5 class="card-title ">Identity</h5>
                        <p class="card-text" id="metin">
                            Kullanıcı yönetiminin gerçekleştirilmesi amacıyla Microsoft tarafından 2013 yılında “ASP.Net Identity” frameworkü ortaya konulmuştur.
                        </p>
                        <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/member.jpg" class="card-img" alt="..." style="height: 100%;width:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Membership</h5>
                                <p class="card-text">“Membership”” mantığıyla çalışan ve “SQL Server” ilgilerini saklayan bir yapıya sahiptir.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/lock.png" class="card-img" alt="..." style="height: 100%;width:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ASP.Net Identity</h5>
                                <p class="card-text">Kullanıcı yönetiminin gerçekleştirilmesi amacıyla Microsoft tarafından...</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/bootstrap.png" class="card-img" alt="..." style="height: 75%;width:75%;margin:20px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Bootstrap</h5>
                                <p class="card-text">Açık kaynak kodlu, ücretsiz bir CSS frameworktür, tasarım aracıdır.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/masterpage.png" class="card-img" alt="..." style="height: 120px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Master Page Nedir?</h5>
                                <p class="card-text">Master Page, web from gibi davranır ancak şablondur.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/redis.png" class="card-img" alt="..." style="height: 120px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">REDİS</h5>
                                <p class="card-text">Redis, open source olarak geliştirilmiş ve gün geçtikçe popülerliliğini arttıran bir NoSQL (Not Only SQL) veritabanıdır.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/mvc.png" class="card-img" alt="..." style="height: 120px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">MVC</h5>
                                <p class="card-text">Model, View ve Controller kelimelerinden oluşturulmuş bir yazılım geliştirme desenidir.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/autocad_nedir.jpg" class="card-img" alt="..." style="height: 100%;width:100%; margin-top:20px;margin-bottom:10px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Autocad</h5>
                                <p class="card-text">Autocad bilgisayar destekli tasarım yazılımıdır.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/interface.jpeg" class="card-img" alt="..." style="height: 100%;width:100%;margin-top:20px;margin-bottom:10px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Interface</h5>
                                <p class="card-text">Interface, OOP içinde sıklıkla kullanılan bir yöntemdir.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;height:150px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/images/endustri4.jpg" class="card-img" alt="..." style="height: 60%;width:100%;margin-top:25px;margin-bottom:10px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Endüstri 4.0</h5>
                                <p class="card-text">Endüstri Devrimi ya da 4. Sanayi Devrimi terimi ilk olarak 2011 yılında Almanya Hannover Fuarı'nda kullanıldı.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/server.jpg" alt="Card image cap" style="height:500px;">
                    <div class="card-body">
                        <h5 class="card-title ">SERVER</h5>
                        <p class="card-text" id="metin">
                            Teknik olarak ele alındığında sunucu; verilerin, bilgisayar ağları üzerinden kullanıcıların erişimine açık olarak barındırıldıkları bilgisayar sistemlerine verilen isim.
                        </p>
                        <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/agile.png" alt="Card image cap" style="height:500px;">
                    <div class="card-body">
                        <h5 class="card-title ">Agile</h5>
                        <p class="card-text" id="metin">
                            Çevik yazılım geliştirme; yinelemeli (iterational) olarak yazılım geliştirme sürecinin aktivitelerinin uygulanması ve tedrici (incremental) olarak yazılım ürününün doğru bir şekilde, değişime açık, Agile(Çevik) Birliği’nin oluşturduğu değerler ışığında prensiplerini uygulayarak geliştirilmesidir.
                        </p>
                        <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="~/images/scrum.png" alt="Card image cap" style="height:500px;">
                    <div class="card-body">
                        <h5 class="card-title ">SCRUM</h5>
                        <p class="card-text" id="metin">
                            Hepimiz yaşantımızda bir konuda problemlerle karşılaşmış ve buna kendimizce çözümler üretmişizdir.
                        </p>
                        <a href="articles.html/Merhaba" class="btn btn-success" style="font-size:1.5rem;">Daha fazla</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg" target="_blank">
                        <img src="~/images/chip.jpg" alt="Lights" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/nature.jpg" target="_blank">
                        <img src="~/images/endustri.jpg" alt="Nature" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="~/images/lock.jpg" alt="Fjords" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg" target="_blank">
                        <img src="~/images/machine.jpg" alt="Lights" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/nature.jpg" target="_blank">
                        <img src="~/images/net.jpg" alt="Nature" style="width:100%; height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="~/images/network.jpg" alt="Fjords" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg" target="_blank">
                        <img src="~/images/oop.jpg" alt="Lights" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/nature.jpg" target="_blank">
                        <img src="~/images/solid.png" alt="Nature" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 opacity">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="~/images/home-bg.jpg" alt="Fjords" style="width:100%;height:250px;">
                        <div class="caption">

                        </div>
                    </a>
                </div>
            </div>
        </div>

</header>

